@model IEnumerable<DataBaseBackend.User>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <button class="btn btn-dark btn-sm d-inline-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-arrow-down d-flex justify-content-center"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex justify-content-center">
                لیست کاربران
            </div>
        </div>
    </div>
</nav>
<div>
    <form class="form-inline" asp-action="Index">
        <div class="form-group mx-sm-3 mb-2">
            <select id="group" type="text" class="form-control" asp-items="ViewBag.roleid">
                <option value="-1">همه</option>
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" placeholder="جستجو" name="search">
        </div>
        <button type="submit" class="btn btn-primary mb-2">جستجو</button>
        <div class="mx-sm-3 mb-2">
            <a asp-action="Create" class="btn btn-outline-success">افزودن کاربر جدید</a>
        </div>
    </form>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    ایمیل / نام و نام خانوادگی
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbod">
            @foreach (var item in Model)
            {
            <tr>

                @if (item.Person != null)
                {
                    <td>
                        @(item.Person.name+" "+item.Person.lastname)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                }
            <td>
                <a class="btn btn-warning " asp-action="Edit" asp-route-id="@item.id">تغییر</a>
                <a class="btn btn-info " asp-action="Details" asp-route-id="@item.id">جزئیات</a>
                <a class="btn btn-danger " data-toggle="modal" data-target="#exampleModal" data-id="@item.id" data-method="Users">حذف</a>
                @if (item.roleid == 2)
                {
                    <a class="btn btn-primary " asp-action="Person" asp-route-id="@item.id">اطلاعات فردی</a>
                    @if (item.Person != null)
                    {
                        <a class="btn btn-outline-secondary " asp-action="AddressList" asp-route-id="@item.id">لیست آدرس ها</a>
                    }
                }

            </td>
            </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{ 
    <script>
    $("#group").change(function () {
        var id = $(this).find(":selected").val();
        window.location.replace("/Admin/Users/Index/?role=" + id);
    });
    </script>
}
