@model DataBaseBackend.Basket

<div class="form-row" id="createform">
    <div class="form-group col-md-4">
        <label class="control-label col-md-12" style="font-weight: bold;text-align:center;">کاربر</label>
        <hr />
        <label class="control-label col-md-12" style="font-size: 20px;text-align:center;">@Model.User.Person.name  @Model.User.Person.lastname</label>
    </div>
    <div class="form-group col-md-4">
        <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="paydate"></label>
        <hr />
        <label class="control-label col-md-12" style="font-size: 20px;text-align: center;">@DateDifference.MiladiToShamsi(Model.paydate)</label>
    </div>
    <div class="form-group col-md-4">
        <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="paymentid"></label>
        <hr />
        <label class="control-label col-md-12" style="font-size: 20px;text-align: center;">@Model.paymentid</label>
    </div>
    <div class="form-group col-md-4">
        <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="createdate"></label>
        <hr />
        <label class="control-label col-md-12" style="font-size: 20px;text-align: center;">@DateDifference.MiladiToShamsi(Model.createdate)</label>
    </div>
    @if (Model.issend)
    {
        <div class="form-group col-md-4">
            <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="senddate"></label>
            <hr />
            <label class="control-label col-md-12" style="font-size: 20px;text-align: center;">@DateDifference.MiladiToShamsi(Model.senddate)</label>
        </div>
    }
    @if (Model.isready && !Model.issend)
    {
        <div class="form-group col-md-4">
            <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="isready"></label>
            <hr />
            <label class="control-label col-md-12" style="font-size: 20px;text-align: center;">انجام شده آماده ارسال</label>
        </div>
    }
    @if (!Model.isready)
    {
        <div class="form-group col-md-4">
            <label class="control-label col-md-12" style="font-weight: bold;text-align:center;" asp-for="isready"></label>
            <hr />
            <label class="control-label col-md-12" style="font-size: 20px;text-align: center;">در حال بررسی و آماده سازی</label>
        </div>
    }
    <div class="form-group col-md-6">
        <label class="control-label col-md-12" style="font-weight: bold;text-align:center;">آدرس</label>
        <hr />
        <label class="control-label col-md-12" style="font-size: 20px; text-align: center;">
            @(Model.Address.ostan+"-"+Model.Address.shahr+"-"+Model.Address.text+"--"+Model.Address.codeposti)
        </label>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label col-md-12" style="font-weight: bold;text-align:center;">اطلاعات گیرنده</label>
        <hr />
        <label class="control-label col-md-12" style="font-size: 20px;text-align: center;">
            @(Model.Address.girandename+" "+Model.Address.girandelastname+" - "+Model.Address.girandephonenumber)
        </label>
    </div>
    @foreach (var item in Model.BasketItems)
    {
        <div class="form-row col-md-12" style="border:groove">
            <div class="col-md-3">
                <img src="/Files/Thumb/@item.Product.imagename" />
            </div>
            <div class="d-flex justify-content-center align-items-center col-md-4" style="font-weight: bold;">
                <span >
                    @(item.Product.title + "-" + item.Product.price+"تومان ")
                </span>
            </div>
            <div class="d-flex justify-content-center align-items-center col-md-2" style="font-weight: bold;">
                <span>
                    @item.count @item.Product.PrGroup.vahed
                </span>
            </div>
            <div class="d-flex justify-content-center align-items-center col-md-3" style="font-weight: bold;">
                <span>
                    @item.mablagh تومان
                </span>
            </div>

        </div>
    }
    <div class="form-group col-md-6">
        <label class="control-label col-md-12" style="font-weight: bold;text-align:center;">مبلغ کل</label>
        <hr />
        <label class="control-label col-md-12" style="font-size: 20px; text-align: center;">
            @Model.total تومان
        </label>
    </div>
</div>
